@using InventarioTI.Context
@model InventarioTI.Models.UsuarioAsignacion

@{
    ViewData["Title"] = "Details";
    InventarioContext context = new InventarioContext();
    TabUsuario usuario = new TabUsuario();
    usuario = context.TabUsuarios.Where(u => u.Id == Model.IdUsuario).FirstOrDefault();
}

<h1>Usuario: @usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</h1>
<hr />
<div>
    <a asp-controller="InvHisAsignacionEquipoes" asp-action="Details" asp-route-id="@Model.IdAsignacion">Regresar a la asignación</a>
    @{
        bool isActive;
        isActive = context.InvHisAsignacionEquipos.Where(a => a.Id == Model.IdAsignacion).Select(a => a.Activo).FirstOrDefault();

        if (isActive == true)
        {
            List<int> ususariosIds = new List<int>();
            ususariosIds = context.UsuarioAsignacion.Where(ua => ua.IdAsignacion == Model.IdAsignacion).Select(ua => ua.IdUsuario).ToList();
            if (ususariosIds != null && ususariosIds.Count > 1)
            {
                <form method="post" asp-controller="InvHisAsignacionEquipoes" asp-action="FinalizarAsignacionIndividual">
                    <input hidden name="idUsuario" value="@usuario.Id" />
                    <input hidden name="idAsignacion" value="@Model.IdAsignacion" />
                    <button class="btn btn-danger" type="submit">Descartar Usuario</button>
                </form>
            }
        }
    }
</div>
<hr />
<div>
    <h4>Datos de Asignación</h4>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdAsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAsignacion)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FechaInicioAsignacion)
        </dt>
        <dd class="col-sm-10">
            <a>@Model.FechaInicioAsignacion.ToString("dddd dd - MMMM - yyyy")</a>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FechaFinAsignacion)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FechaFinAsignacion == Convert.ToDateTime("01/01/0001 12:00:00 a. m."))
            {
                <a style="color:darkcyan">Aún no finaliza la asignación</a>
            }
            else
            {
                <a>@Model.FechaFinAsignacion.ToString("dddd dd - MMMM - yyyy")</a>
            }
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Asignado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignado)
        </dd>
    </dl>
    <hr />
    <h4>Datos de Contacto</h4>
    <dl class="row">
        <dt class="col-sm-4">
            <a>Correo</a>
        </dt>
        <dd class="col-sm-10">
            <a>@usuario.Correo</a>
        </dd>
        <dt class="col-sm-4">
            <a>Número Telefónico</a>
        </dt>
        <dd class="col-sm-10">
            @if (usuario.NumeroTelefonico != null)
            {
                <a>@usuario.NumeroTelefonico</a>
            }
            else
            {
                <a>Sin Número Telefónico</a>
            }
        </dd>
    </dl>
</div>
