@using InventarioTI.Context
@model InventarioTI.Models.UsuarioLicencias

@{
    ViewData["Title"] = "VerAsignacionIndividual";
    Layout = "~/Views/Shared/_Layout.cshtml";
    InventarioContext context = new InventarioContext();
}

<h1>Asignacion Individual</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asignado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioAsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioAsignacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinAsignacion)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Asignado == true)
                {
                    <a style="color:blue;">Aun no finaliza la asignación</a>
                }
                else
                {
                    @Html.DisplayFor(model => model.FechaFinAsignacion)
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="InvHisAsignacionLicencias" asp-action="Details" asp-route-id="@Model.IdAsignacion">Regresar a la asignación</a>
</div>
