@using InventarioTI.Context
@using InventarioTI.Models.Tools_Models
@model _qr
@{
    InventarioContext context = new InventarioContext();
}
<div class="modal fade" id="viewQr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addMantenimientoLabel">Ver QR</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>

                </button>
            </div>
            <div class="modal-body">
                <form>
                    @if (Model.QRCode != null)
                    {

                        <div class="alert alert-info">El QR se ha generado correctamente</div>

                        //Div a imprimir
                        <div id="qr" hidden>
                            <div style="float:left; text-align:end; margin-left:2px;">
                                <img src="@Model.QRCode" alt="QR" style="height:80px; width:80px;" />
                            </div>
                            <div style="float:right; text-align:inherit;">
                                <b><label style="font-size:10px;">Nombre Eq: </label></b><b> <label style="font-size:10px;">@Model.DeviceName</label></b>
                                <br>
                                <b><label style="font-size:10px;">Marca: </label></b> <b><label style="font-size:10px;">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.Marca).FirstOrDefault()</label></b>
                                <br>
                                <b><label style="font-size:10px;">Modelo: </label></b><b> <label style="font-size:10px;">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.Modelo).FirstOrDefault()</label></b>
                                <br>
                                <b><label style="font-size:10px;">No. Serie: </label></b><br><b> <label style="font-size:10px;">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.NoSerie).FirstOrDefault()</label></b>
                            </div>
                        </div>
                        //Div a imprimir

                        //Div para mostrar
                        <dl class="row">
                            <dt class="col-sm-5">
                                <div style="text-align:left;">
                                    <img src="@Model.QRCode" alt="QR" style="height:200px; width:200px;" />
                                </div>
                            </dt>
                            <dd class="col-sm-7">
                                <div style="text-align:left;">
                                    <br>
                                    <br>
                                    <strong><label style="font-size:small">Nombre Equipo: </label></strong> <label style="font-size:small">@Model.DeviceName</label>
                                    <br>
                                    <strong><label style="font-size:small">Marca: </label></strong> <label style="font-size:small">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.Marca).FirstOrDefault()</label>
                                    <br>
                                    <strong><label style="font-size:small">Modelo: </label></strong> <label style="font-size:small">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.Modelo).FirstOrDefault()</label>
                                    <br>
                                    <strong><label style="font-size:small">No. Serie: </label></strong> <label style="font-size:small">@context.InvTabEquipos.Where(e=>e.Id == Model.IdEquipo).Select(e=>e.NoSerie).FirstOrDefault()</label>
                                </div>
                            </dd>
                        </dl>
                        <div>
                            
                            <hr>
                            <div style="text-align:center;">
                                <em style="color:red;">Configure la impresora con las siguientes medidas</em>
                                <br>
                                <a>Ancho: <em>57 mm</em></a>
                                <br>
                                <a>Altura: <em>27 mm</em></a>
                            </div>
                        </div>
                        //Div para mostrar
                    }
                    else
                    {
                        <div class="alert alert-danger">El QR no se pudo generar</div>
                    }
                    <div class="modal-footer">
                        <span onclick="Imprime('qr', 'Imprimir');" class="btn btn-outline-primary"><img src="~/resources/print.png" id="Imprimir" runat="server" Width="36px" Visible="true" ImageAlign="Right" /> Imprime</span>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function Imprime(nombre, boton) {
        var ficha = document.getElementById(nombre);
        var ventimp = window.open(' ', 'popimpr');
        ventimp.document.write(ficha.innerHTML);
        ventimp.document.close();
        ventimp.print();
        ventimp.close();
    }
</script>

<style>
    .center {
        border: 2px solid;
        text-align: center;
    }
</style>