@using InventarioTI.Context
@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model InventarioTI.Models.InvHisAsignacionEquipo

@{
    ViewData["Title"] = "Asignacion";
    InventarioContext context = new InventarioContext();
    InvTabEquipo equipo = new InvTabEquipo();
    equipo = context.InvTabEquipos.Where(e => e.Id == Model.IdEquipo).FirstOrDefault();
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();
}
@section Styles
    {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <h1>Asignacion de equipo "@equipo.NombreEquipo"</h1>
    <div>
        <a asp-action="Details" asp-route-Id="@Model.IdEquipo">Ir al Equipo</a>
        ||
        <a asp-action="Index">Regresar a la tabla</a>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Asignacion">
                <h4>Datos Básicos de Asignación</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="IdEquipo" value="@Model.IdEquipo" />
                <input hidden value="true" class="form-check-input" asp-for="Activo" />
                <div class="form-group">
                    <label asp-for="TipoConexion" class="control-label"></label>
                    @*<input asp-for="TipoConexion" class="form-control" />*@
                    @{
                    List<InvCatTipoConexion> tiposConexion = new List<InvCatTipoConexion>();
                    tiposConexion = context.InvCatTiposConexion.ToList();
                    List<SelectListItem> tiposItems = tiposConexion.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.TipoConexion,
                    Value = a.TipoConexion,
                    Selected = false
                };
                    });
                }
                <select asp-for="TipoConexion" class="custom-select" asp-items="tiposItems">
                </select>
                <span asp-validation-for="TipoConexion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnDominio" /> @Html.DisplayNameFor(model => model.EnDominio)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input id="input_ip" placeholder="255.255.255.255" maxlength="15" asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IDSitio" class="control-label"></label>
                @{
                    List<RHCF10_Plantas> catPlantas = new List<RHCF10_Plantas>();

                    string jsonPlantas = await conn.GetQueryResult("SELECT * FROM RHCF10");

                    try
                    {
                        catPlantas = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(jsonPlantas);
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine(ex.Message);
                    }

                    List<SelectListItem> plantasItems = catPlantas.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Nombre,
                    Value = a.IDSitio.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IDSitio" id="pck_planta" onselect="getUsuarios" class="form-control" asp-items="plantasItems"></select>
                <span asp-validation-for="IDSitio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ID_Area" class="control-label"></label>
                @{
                    List<RHCF03_Areas> catDepartamentos = new List<RHCF03_Areas>();

                    string jsonDepartamentos = await conn.GetQueryResult("SELECT * FROM RHCF03");

                    try
                    {
                        catDepartamentos = JsonConvert.DeserializeObject<List<RHCF03_Areas>>(jsonDepartamentos);
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine(ex.Message);
                    }

                    List<SelectListItem> departamentosItems = catDepartamentos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Area,
                    Value = a.ID_Area.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="ID_Area" id="pck_area" onclick="getUsuarios" class="form-control" asp-items="departamentosItems"></select>
                <span asp-validation-for="ID_Area" class="text-danger"></span>
            </div>

            @*<h4>Grupo de Usuarios Para el Equipo @equipo.NombreEquipo</h4>*@
            @{
                //List<RH00_Usuarios> usuarios = new List<RH00_Usuarios>();

                //string jsonUsuarios = await conn.GetQueryResult("SELECT * FROM RH00 WHERE IdEmpleado IN (SELECT IdEmpleado FROM RH03 WHERE Activo = 1)");

                //try
                //{
                //    usuarios = JsonConvert.DeserializeObject<List<RH00_Usuarios>>(jsonUsuarios);
                //}
                //catch (Exception ex)
                //{
                //    Console.WriteLine(ex.Message);
                //}

                //List<SelectListItem> usuariosItems = usuarios.ConvertAll(a =>
                //{
                //    return new SelectListItem()
                //{
                //    Text = a.Nombres + " " + a.Apellidos + "/(" + a.CorreoEmpresa + ")",
                //    Value = a.IdEmpleado.ToString(),
                //    Selected = false
                //};
                //});
            }
            @*<select placeholder="Seleccione los usuarios" asp-for="SelectedIds" name="SelectedIds" id="ddlCustomers" class="form-control" multiple="multiple" asp-items="usuariosItems"></select>
            <span asp-validation-for="SelectedIds" class="text-danger"></span>*@
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ddlCustomers").select2();
        });
    </script>
}

    <script>
        $(document).ready(Principal);
        function Principal() {
            $(document).on('keyup', '[id=input_ip]', function (e) {
                if ($(this).val().length == 3) {
                    $(this).val($(this).val() + ".");
                }
                if ($(this).val().length == 7) {
                    $(this).val($(this).val() + ".");
                }
                if ($(this).val().length == 11) {
                    $(this).val($(this).val() + ".");
                }
            });
        }
    </script>