@using InventarioTI.Context
@model InventarioTI.Models.InvHisAsignacionEquipo

@{
    ViewData["Title"] = "Asignacion";
    InventarioContext context = new InventarioContext();
    InvTabEquipo equipo = new InvTabEquipo();
    equipo = context.InvTabEquipos.Where(e => e.Id == Model.IdEquipo).FirstOrDefault();
}
@section Styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
}
<h1>Asignacion de equipo @equipo.NombreEquipo </h1>
<div>
    <a asp-action="Details" asp-route-Id="@Model.IdEquipo">Ir al Equipo</a>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Asignacion">
            <h4>Datos Básicos de Asignación</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="IdEquipo" value="@Model.IdEquipo"/>
            <div class="form-group">
                <label asp-for="TipoConexion" class="control-label"></label>
                @*<input asp-for="TipoConexion" class="form-control" />*@
                @{
                    List<InvCatTipoConexion> tiposConexion = new List<InvCatTipoConexion>();
                    tiposConexion = context.InvCatTiposConexion.ToList();
                    List<SelectListItem> tiposItems = tiposConexion.ConvertAll(a =>
                    {
                        return new SelectListItem()
                        {
                            Text = a.TipoConexion,
                            Value = a.TipoConexion,
                            Selected = false
                        };
                    });
                }
                <select asp-for="TipoConexion" class="custom-select" asp-items="tiposItems">
                    
                </select>
                <span asp-validation-for="TipoConexion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnDominio" /> @Html.DisplayNameFor(model => model.EnDominio)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartamento" class="control-label"></label>
                @*<input asp-for="IdDepartamento" class="form-control" />*@
                @{
                    List<CatDepartamento> catDepartamentos = new List<CatDepartamento>();
                    catDepartamentos = context.CatDepartamentos.ToList();
                    List<SelectListItem> departamentosItems = catDepartamentos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Departamento+" ("+a.Abreviacion+")",
                    Value = a.Id.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IdDepartamento" class="form-control" asp-items="departamentosItems"></select>
                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <h4>Grupo de Usuarios Para el Equipo @equipo.NombreEquipo</h4>
            @{
                List<TabUsuario> usuarios = new List<TabUsuario>();
                usuarios = context.TabUsuarios.ToList();
                List<SelectListItem> usuariosItems = usuarios.ConvertAll(a =>
                {
                    return new SelectListItem()
                    {
                        Text = a.Nombre + " " + a.ApellidoPaterno + " " + a.ApellidoMaterno+"/("+a.Correo+")",
                        Value = a.Id.ToString(),
                        Selected = false
                    };
                });
            }
            <select placeholder="Seleccione los usuarios" asp-for="SelectedIds" name="SelectedIds" id="ddlCustomers" class="form-control" multiple="multiple" asp-items="usuariosItems"></select>
            <span asp-validation-for="SelectedIds" class="text-danger"></span>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
           $("#ddlCustomers").select2(); 
        });
    </script>
}
