@model InventarioTI.Models.InvTabEquipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvTabEquipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionMac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionMac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.So)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.So)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosAdicionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosAdicionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procesador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procesador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioGarantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioGarantia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinGarantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinGarantia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
