@using InventarioTI.Context
@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model InventarioTI.Models.InvTabEquipo

@{
    ViewData["Title"] = "Detalles";
    InventarioContext context = new InventarioContext();
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();
}

<div id="PlaceHolderHere"></div>

<div>
    <h4>Equipo: @Model.NombreEquipo</h4>
    <hr />
    <div>
        <b><i class="emphasized">Actualizar Equipo</i></b>
        <br />
        @{
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Actualizar</a>
            if (Model.IdEstatus != 6)
            {
                InvHisAsignacionEquipo asignacion = new InvHisAsignacionEquipo();
                asignacion = context.InvHisAsignacionEquipos.Where(a => a.IdEquipo == Model.Id && a.Activo == true).FirstOrDefault();
                if (asignacion == null)
                {
                    <a class="btn btn-success" asp-action="Asignacion" asp-route-id="@Model.Id">Asignar</a>
                }
                else
                {
                    <a class="btn btn-success" asp-controller="InvHisAsignacionEquipoes" asp-action="Details" asp-route-id="@asignacion.Id">Ver Asignación</a>
                }
                List<int> asignacionesHistorialIds = new List<int>();
                asignacionesHistorialIds = context.InvHisAsignacionEquipos.Where(a => a.IdEquipo == Model.Id && a.Activo == false).Select(a => a.Id).ToList();
                if (asignacionesHistorialIds != null && asignacionesHistorialIds.Count > 0)
                {
                    <a asp-controller="InvHisAsignacionEquipoes" asp-action="Index" asp-route-idEquipo="@Model.Id">Historial de asignaciones</a>
                }
                <hr />
                <b><i class="emphasized">Acciones</i></b>
                <br />
                //Modal
                <button type="button" class="btn btn-primary" data-toggle="ajax_modal" data-target="#addMantenimiento" data-url="@Url.Action("Mantenimiento")">Mantenimiento</button>
                <button type="button" class="btn btn-primary" data-toggle="ajax_modal" data-target="#addInstalacion" data-url="@Url.Action("Instalacion")">Instalación</button>
                <a asp-action="Index">Historial de acciones</a>
                //Modal
                <hr />
                <a asp-action="Index">Regresar a la tabla</a>
            }
            else
            {
                List<int> asignacionesHistorialIds = new List<int>();
                asignacionesHistorialIds = context.InvHisAsignacionEquipos.Where(a => a.IdEquipo == Model.Id && a.Activo == false).Select(a => a.Id).ToList();
                if (asignacionesHistorialIds != null && asignacionesHistorialIds.Count > 0)
                {
                    <a class="btn btn-info" asp-controller="InvHisAsignacionEquipoes" asp-action="Index" asp-route-idEquipo="@Model.Id">Historial de asignaciones</a>
                }
                <hr />
                <a asp-action="VerArchivados">Regresar a la tabla</a>
            }
        }
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoEquipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDSitio)
        </dt>
        <dd class="col-sm-10">
            @{
                string ubicacion = "";
                List<RHCF10_Plantas> catPlants = new List<RHCF10_Plantas>();
                string json = await conn.GetQueryResult("SELECT * FROM RHCF10 WHERE IDSitio=" + Model.IDSitio.ToString());
                try
                {
                    catPlants = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(json);
                    ubicacion = catPlants.FirstOrDefault().Nombre;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                }
                <a>@ubicacion</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionMac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionMac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.So)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.So)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatosAdicionales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatosAdicionales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procesador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procesador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hdd) GB
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ram) GB
        </dd>
        <dt class="col-sm-2">
            <a>Estatus</a>
        </dt>
        <dd class="col-sm-10">
            @{
                InvCatEstatusEquipo estatusEquipo = new InvCatEstatusEquipo();
                estatusEquipo = context.InvCatEstatusEquipos.Where(e => e.Id == Model.IdEstatus).FirstOrDefault();
                <a>@estatusEquipo.Estatus</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaActualizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UltimaActualizacion)
        </dd>
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.IdUsuarioRegistro)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.IdUsuarioRegistro)
        </dd>*@
    </dl>
</div>