@using InventarioTI.Context
@using System.Globalization
@model InventarioTI.Models.InvTabEquipo

@{
    ViewData["Title"] = "Edit";
    InventarioContext context = new InventarioContext();
}
<div>
    <a asp-action="Details" asp-route-Id="@Model.Id">Ir al Equipo</a>
</div>

<h1>Editando equipo @Model.NombreEquipo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NombreEquipo" />
            <input type="hidden" asp-for="FechaCreacion" />
            <input type="hidden" asp-for="IDSitio" />
            <input type="hidden" asp-for="FechaCompra" />
            <input type="hidden" asp-for="FechaInicioGarantia" />
            <input type="hidden" asp-for="FechaFinGarantia" />
            <input type="hidden" asp-for="IdUsuarioRegistro" />
            <input type="hidden" asp-for="IdEstatus" />
            @*<input type="hidden" class="form-check-input" value="true" asp-for="Activo" />*@
            <div class="form-group">
                <label asp-for="IdTipoEquipo" class="control-label"></label>
                @{
                    List<InvCatTipoEquipo> tipos = new List<InvCatTipoEquipo>();
                    tipos = context.InvCatTipoEquipos.OrderBy(t=>t.Tipo).ToList();
                    List<SelectListItem> tiposItems = tipos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Tipo,
                    Value = a.Id.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IdTipoEquipo" asp-items="tiposItems" class="custom-select">
                </select>
                <span asp-validation-for="IdTipoEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UbicacionEquipo" class="control-label"></label>
                @{
                    List<CatPlanta> catPlants = new List<CatPlanta>();
                    catPlants = context.CatPlanta.ToList();

                    List<SelectListItem> plantasItems = catPlants.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Nombre,
                    Value = a.Nombre,
                    Selected = false
                };
                    });

                }
                <select asp-for="UbicacionEquipo" class="custom-select" asp-items="plantasItems">
                </select>
                <span asp-validation-for="UbicacionEquipo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSerie" class="control-label"></label>
                <input asp-for="NoSerie" class="form-control" />
                <span asp-validation-for="NoSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionMac" class="control-label"></label>
                <input asp-for="DireccionMac" class="form-control" />
                <span asp-validation-for="DireccionMac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSO" class="control-label"></label>
                @{
                    List<InvCatSo> sos = new List<InvCatSo>();
                    sos = context.InvCatSos.OrderBy(so=>so.SistemaOperativo).ToList();

                    List<SelectListItem> SoItems = sos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.SistemaOperativo,
                    Value = a.Id.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IdSO" class="custom-select" asp-items="SoItems">
                </select>
                <span asp-validation-for="IdSO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatosAdicionales" class="control-label"></label>
                <input asp-for="DatosAdicionales" class="form-control" />
                <span asp-validation-for="DatosAdicionales" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                @{
                    List<InvCatEstatusEquipo> estatus = new List<InvCatEstatusEquipo>();
                    estatus = context.InvCatEstatusEquipos.ToList();

                    List<SelectListItem> estatusItems = estatus.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Estatus,
                    Value = a.Estatus,
                    Selected = false
                };
                    });
                }
                <select asp-for="Estatus" class="custom-select" asp-items="estatusItems">
                </select>
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" value="@Model.FechaCompra" type="date" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicioGarantia" class="control-label"></label>
                <input asp-for="FechaInicioGarantia" value="@Model.FechaInicioGarantia" class="form-control" type="date"/>
                <span asp-validation-for="FechaInicioGarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinGarantia" class="control-label"></label>
                <input asp-for="FechaFinGarantia" value="@Model.FechaFinGarantia" class="form-control" type="date"/>
                <span asp-validation-for="FechaFinGarantia" class="text-danger"></span>
            </div>*@
            <h3>Caracteristicas del equipo</h3>
            <div class="form-group">
                <label asp-for="Procesador" class="control-label"></label>
                <input asp-for="Procesador" class="form-control" />
                <span asp-validation-for="Procesador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hdd" class="control-label"></label>
                <input asp-for="Hdd" type="number" class="form-control" />
                @*<div id="my-input-container">
                    <input asp-for="Hdd" type="number" id="my-input" class="form-group">
                    <span id="my-suffix">GB.</span>
                </div>*@
                <span asp-validation-for="Hdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" type="number" class="form-control"/>
                @*<div id="my-input-container">
                    <input asp-for="Ram" type="number" id="my-input" class="form-group">
                    <span id="my-suffix">GB.</span>
                </div>*@
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
