@using InventarioTI.Context
@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model IEnumerable<InventarioTI.Models.InvTabEquipo>
@section Styles
    {
    <link href="~/lib/datatables.net-bs/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs/datatables.bootstrap.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" rel="stylesheet" />
}
    @{
    ViewData["Title"] = "Equipos";
    InventarioContext context = new InventarioContext();
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();

    List<RHCF10_Plantas> plantas = new List<RHCF10_Plantas>();
    plantas = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(await conn.GetQueryResult("SELECT * FROM RHCF10"));

}

<a style="font-size:xx-large">Equipos</a> |
<a class="btn btn-primary" asp-action="Create">Crear Nuevo</a> |
<a asp-action="VerArchivados">Ver Equipos Archivados</a> |
<hr />
<table id="tbl_equipos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDSitio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatus)
            </th>
            <th>
                <a>Acciones</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipo)
                </td>
                <td>
                    @*@{
                string ubicacion = "";
                List<RHCF10_Plantas> catPlants = new List<RHCF10_Plantas>();
                string json = await conn.GetQueryResult("SELECT * FROM RHCF10 WHERE IDSitio=" + item.IDSitio.ToString());
                try
                {
                catPlants = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(json);
                ubicacion = catPlants.FirstOrDefault().Nombre;
                }
                catch (Exception ex)
                {
                Console.WriteLine(ex.Message);
                }
                <a>@ubicacion</a>
                }*@
                    @{
                        <a>@plantas.Where(p=>p.IDSitio == item.IDSitio).Select(p=>p.Nombre).FirstOrDefault()</a>
                    }
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IdTipoEquipo)*@
                    <a>@context.InvCatTipoEquipos.Where(e=>e.Id== item.IdTipoEquipo).Select(e=>e.Tipo).FirstOrDefault()</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoSerie)
                </td>
                <td>
                    @{
                        <a>@context.InvCatEstatusEquipos.Where(e => e.Id == item.IdEstatus).Select(e=>e.Estatus).FirstOrDefault()</a>
                    }
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    @*<a class="btn btn-primary" asp-route-id="@item.Id">Soporte</a>*@
                    <form method="post" asp-controller="InvTabEquipoes" asp-action="ArchivarEquipo">
                        <input type="hidden" runat="server" name="del" id="@item.Id" value="" />
                        <input type="hidden" name="idEquipo" id="idEquipo" value="@item.Id" />
                        <button onclick="confirmar(@item.Id)" class="btn btn-danger">Archivar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script src="~/lib/datatables.net/jquery.datatables.js"></script>
    <script src="~/lib/datatables.net/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs/datatables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-bs/datatables.bootstrap.js"></script>

    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script>
        $('#tbl_equipos').DataTable(
            {
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                }
            }
        );
    </script>

    <script>
        function confirmar(id) {
            if (confirm("¿Deseas cambiar el estatus del equipo? Se perderá la asignación si es que el equipo tiene una.")) {
                document.getElementById(id).value = "Si";
            }
            else {
                document.getElementById(id).value = "No";
            }
        }
    </script>
}