@using InventarioTI.Context
@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model InventarioTI.Models.InvTabEquipo

@{
    ViewData["Title"] = "VerDetallePorQr";
    Layout = "~/Views/Shared/_Layout.cshtml";
    InventarioContext context = new InventarioContext();
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();
}

@*Se comienza el proceso de validación para mostrar información diferente al usuario normal, así como a los usuarios administradores*@
<div>
   @* @{
        bool admin = false;//Se emula la lectura del login
        string nombreUsuario = "OSMAN GONZÁLEZ VERA"; //Se emula la lectura del usuario
        if (admin)
        {
            <div>
                <a style="color:black;"><em style="color:blue">Bienvenido</em> @nombreUsuario</a>
                <br>
                <form>
                    <button disabled class="btn btn-outline-primary">Detalles del Equipo</button>
                </form>
            </div>
        }
        else
        {
            <div>
                <a style="color:black;"><em style="color:blue">Bienvenido</em> @nombreUsuario</a>
                <br>
                <form>
                    <button disabled class="btn btn-outline-primary">Solicitar Soporte</button>
                </form>
            </div>
        }
    }*@
    <em>En desarrollo módulo de Soporte, solicitud de soporte y atención de soportes</em>
</div>
<hr />
<h4>Detalle de Equipo</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoEquipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionMac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionMac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatosAdicionales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatosAdicionales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procesador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procesador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatus)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.IdEstatus)*@
            @{
                <a>@context.InvCatEstatusEquipos.Where(e=>e.Id == Model.IdEstatus).Select(e=>e.Estatus).FirstOrDefault()</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDSitio)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.IDSitio)*@
            @{
                RHCF10_Plantas planta = new RHCF10_Plantas();
                planta = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(await conn.GetQueryResult("SELECT * FROM RHCF10 WHERE IDSitio = " + Model.IDSitio.ToString())).FirstOrDefault();
                <a>@planta.Nombre</a>
            }
        </dd>
    </dl>
</div>