@using InventarioTI.Context
@model IEnumerable<InventarioTI.Models.InvCatEstatusEquipo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    InventarioContext context = new InventarioContext();
}

<h1>Estatus de Equipos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Crear Nuevo</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Catalogos">Regresar a los catálogos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.Id != 4 && item.Id != 2 && item.Id != 6)
                        {
                            @Html.DisplayFor(modelItem => item.Estatus)
                        }
                        else
                        {
                            <a style="color:cornflowerblue">@item.Estatus</a>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @{
                        if (item.Id != 4 && item.Id != 2 && item.Id != 6)
                        {
                            if (context.InvTabEquipos.Where(e => e.IdEstatus == item.Id).Select(e => e.Id).ToList().Count > 0)
                            {
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            }
                        }
                        else
                        {
                            <a>No puedes editar ni eliminar este registro</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
