@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model IEnumerable<InventarioTI.Models.InvHisAsignacionLicencia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();
}

<h1>Historial de Asignaciones</h1>
<a asp-controller="Licencias" asp-action="Details" asp-route-id="@Model.First().IdLicencia">Regresar a la licencia</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDSitio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.FechaInicio)*@
                    <a>@item.FechaInicio.ToString("dd/MM/yyyy")</a>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.FechaFin)*@
                    @{
                        if (item.Activo == true)
                        {
                                <a style="color:blue;">Aún no finaliza la asigación</a>
                        }
                        else
                        {
                                <a>@item.FechaFin.ToString("dd/MM/yyyy")</a>
                        }
                    }
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IDSitio)*@
                    @{
                        RHCF10_Plantas planta = new RHCF10_Plantas();
                        string jsonPlanta = await conn.GetQueryResult("SELECT * FROM RHCF10 WHERE IDSitio = " + item.IDSitio.ToString());

                        try
                        {
                            planta = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(jsonPlanta).FirstOrDefault();
                        }
                        catch (Exception ex)
                        {
                            Console.WriteLine(ex.Message);
                        }

                    }
                    <a>@planta.Nombre</a>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ID_Area)*@
                    @{
                        RHCF03_Areas departamento = new RHCF03_Areas();
                        string jsonArea = await conn.GetQueryResult("SELECT * FROM RHCF03 WHERE ID_Area = " + item.ID_Area.ToString());

                        try
                        {
                            departamento = JsonConvert.DeserializeObject<List<RHCF03_Areas>>(jsonArea).FirstOrDefault();
                        }
                        catch (Exception ex)
                        {
                            Console.WriteLine(ex.Message);
                        }

                    }
                    <a>@departamento.Area</a>
                </td>
                <td>
                    @{
                        if (item.Activo == true)
                        {
                                <img src="~/resources/paloma.png" Width="30px" Visible="true" ImageAlign="Right" />
                        }
                        else
                        {
                                <img src="~/resources/tache.png" Width="30px" Visible="true" ImageAlign="Right" />
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
