@using InventarioTI.Context
@model InventarioTI.Models.Licencias

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    InventarioContext context = new InventarioContext();
}

@{
    int asignacionesActivas = 0;
    asignacionesActivas = context.InvHisAsignacionLicencia.Where(ul => ul.IdLicencia == Model.Id && ul.Activo == true).ToList().Count;
    int asignaciones = 0;
    asignaciones = context.InvHisAsignacionLicencia.Where(al => al.IdLicencia == Model.Id).ToList().Count();

    <div>
        @{
            if (asignacionesActivas < Model.Cantidad)
            {
                <a class="btn btn-primary" asp-route-idLicencia="@Model.Id" asp-controller="InvHisAsignacionLicencias" asp-action="Create">Asignar</a>
            }
            else { 
                
            }
        }
        @{
            if (asignaciones > 0)
            {
                <a asp-controller="InvHisAsignacionLicencias" asp-action="Index" asp-route-idLicencia="@Model.Id">| Ver Historial de Asignaciones</a>
            }
        }
        <a asp-action="Index">| Regresar a las licencias</a>
    </div>
}
<h4>Licencia @Model.Marca @Model.Tipo</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>
</div>
