@using InventarioTI.Context
@model InventarioTI.Models.InvHisAsignacionEquipo

@{
    ViewData["Title"] = "Details";
    InventarioContext context = new InventarioContext();
    InvTabEquipo equipo = new InvTabEquipo();
    equipo = context.InvTabEquipos.Where(e => e.Id == Model.IdEquipo).FirstOrDefault();
}
@section Styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
}
<h1>Asignación de equipo "@equipo.NombreEquipo"</h1>
<div>
    <a asp-controller="InvTabEquipoes" asp-action="Details" asp-route-Id="@equipo.Id">Ir al Equipo</a>
    ||
    <a asp-controller="InvTabEquipoes" asp-action="Index">Regresar a la tabla</a>
</div>
<br />

@if (Model.Activo == true)
{
    <form method="post" asp-action="FinalizarAsignacion">
        <input type="hidden" name="idAsignacion" value="@Model.Id" />
        <input type="hidden" name="idEquipo" value="@Model.IdEquipo" />
        <button class="btn btn-danger" type="submit">Liberar Equipo</button>
    </form>
}

<h4>Datos de la Asignación</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnDominio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnDominio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConexion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoConexion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </dt>
        <dd class="col-sm-10">
            @{
                CatDepartamento departamento = new CatDepartamento();
                departamento = context.CatDepartamentos.Where(d => d.Id == Model.IdDepartamento).FirstOrDefault();
                <a>@departamento.Departamento (@departamento.Abreviacion)</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDSitio)
        </dt>
        <dd class="col-sm-10">
            @{
                string ubicacion = "";
                ubicacion = context.CatPlanta.Where(p => p.IDSitio == Model.IDSitio).Select(p => p.Nombre).FirstOrDefault();
                <a>@ubicacion</a>
            }
        </dd>
        <dt class="col-m-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
@{
    List<int> idUsuarios = new List<int>();
    List<int> idUsuariosInactivos = new List<int>();
    List<TabUsuario> usuarios = new List<TabUsuario>();
    List<TabUsuario> usuariosInactivos = new List<TabUsuario>();

    if (Model.Activo == true)
    {
        idUsuarios = context.UsuarioAsignacion.Where(u => u.IdAsignacion == Model.Id && u.Asignado == true).Select(u => u.IdUsuario).ToList();
        foreach (var idusuario in idUsuarios)
        {
            TabUsuario usuario = new TabUsuario();
            usuario = context.TabUsuarios.Where(u => u.Id == idusuario).FirstOrDefault();
            usuarios.Add(usuario);
        }

        idUsuariosInactivos = context.UsuarioAsignacion.Where(u => u.IdAsignacion == Model.Id && u.Asignado == false).Select(u => u.IdUsuario).ToList();
        foreach (var idusuario in idUsuariosInactivos)
        {
            TabUsuario usuario = new TabUsuario();
            usuario = context.TabUsuarios.Where(u => u.Id == idusuario).FirstOrDefault();
            usuariosInactivos.Add(usuario);
        }
        <button class="btn btn-info" onclick="showhide()">Agregar Usuarios</button>

        <div id="addUsers" style="display:none">
            <div class="col-sm-6">
                <b><i class="emphasized">Selecciona el/los usuario(s) para agregar</i></b>
                <form method="post">
                    @{
                        //Depurar la lista de NuevosUsuarios para que no se agreguen usuarios previamente asignados
                        List<TabUsuario> Nuevosusuarios = new List<TabUsuario>();
                        Nuevosusuarios = context.TabUsuarios.ToList();
                        List<SelectListItem> usuariosItems = Nuevosusuarios.ConvertAll(a =>
                        {
                            return new SelectListItem()
                    {
                        Text = a.Nombre + " " + a.ApellidoPaterno + " " + a.ApellidoMaterno + "/(" + a.Correo + ")",
                        Value = a.Id.ToString(),
                        Selected = false
                    };
                        });
                    }
                    <select style="width: 500px" placeholder="Seleccione los usuarios" asp-for="SelectedIds" name="SelectedIds" id="ddlCustomers" class="form-control" multiple="multiple" asp-items="usuariosItems"></select>
                    <span asp-validation-for="SelectedIds" class="text-danger"></span>
                    <button class="btn btn-success" type="submit">Agregar</button>
                </form>
            </div>
        </div>

        <div>
            <h4>Usuarios Asignados Activos</h4>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a>Id</a>
                        </th>
                        <th>
                            <a>Nombre</a>
                        </th>
                        <th>
                            <a>Correo</a>
                        </th>
                        <th>
                            <a>Acciones</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in usuarios)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <a>@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="UsuarioAsignacions" asp-action="Details" asp-route-id="@item.Id" asp-route-idAsignacion="@Model.Id">Ver Detalle</a>
                                @if (Model.Activo == true)
                                {
                                    if (usuarios.Count > 1)
                                    {
                                        <form method="post" asp-action="FinalizarAsignacionIndividual">
                                            <input name="idAsignacion" id="idAsignacion" hidden value="@Model.Id" />
                                            <input name="idUsuario" id="idUsuario" hidden value="@item.Id" />
                                            <button class="btn btn-danger" type="submit">Descartar Usuario</button>
                                        </form>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (usuariosInactivos != null && usuariosInactivos.Count > 0)
        {
            <div>
                <h4>Usuarios Asignados Inactivos</h4>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <a>Id</a>
                            </th>
                            <th>
                                <a>Nombre</a>
                            </th>
                            <th>
                                <a>Correo</a>
                            </th>
                            <th>
                                <a>Acciones</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in usuariosInactivos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <a>@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="UsuarioAsignacions" asp-action="Details" asp-route-id="@item.Id" asp-route-idAsignacion="@Model.Id">Ver Detalle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        idUsuarios = context.UsuarioAsignacion.Where(u => u.IdAsignacion == Model.Id).Select(u => u.IdUsuario).ToList();
        foreach (var idusuario in idUsuarios)
        {
            TabUsuario usuario = new TabUsuario();
            usuario = context.TabUsuarios.Where(u => u.Id == idusuario).FirstOrDefault();
            usuarios.Add(usuario);
        }
        <div>
            <h4>Usuarios Asignados</h4>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a>Id</a>
                        </th>
                        <th>
                            <a>Nombre</a>
                        </th>
                        <th>
                            <a>Correo</a>
                        </th>
                        <th>
                            <a>Acciones</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in usuarios)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <a>@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="UsuarioAsignacions" asp-action="Details" asp-route-id="@item.Id" asp-route-idAsignacion="@Model.Id">Ver Detalle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<script>
    function showhide() {
        var div = document.getElementById("addUsers");
        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ddlCustomers").select2();
        });
    </script>
}
