@using InventarioTI.Context
@model IEnumerable<InventarioTI.Models.InvHisAsignacionEquipo>

@{
    ViewData["Title"] = "Index";
    InventarioContext context = new InventarioContext(); 
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnDominio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoConexion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnDominio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConexion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                    @{
                        CatDepartamento departamento = new CatDepartamento();
                        departamento = context.CatDepartamentos.Where(d => d.Id == item.IdDepartamento).FirstOrDefault();
                    }
                    <a>@departamento.Departamento (@departamento.Abreviacion)</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
